{
    "env": {
      "test": {
        "presets": ["@babel/preset-env", "@babel/react"],
        "plugins": ["transform-export-extensions"],
        "only": [
          "./**/*.test.js",
          "node_modules/jest-runtime"
        ]
      }
    }
  }